<div class="container">
    <h1>Users</h1>
    <%= search_form_for @q do |f| %>
        <%= f.search_field :email_or_id_cont, placeholder: "Id or email.." %>
        <%= f.search_field :roles_name_cont, placeholder: "Role.." %>
        <%= f.submit %>
    <% end %>



    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col"><%= sort_link(@q, :email) %></th>
            <th scope="col">Roles</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user|%>
            <tr>
            <th scope="row"><%= link_to user.id, user %></th>
            <td><%= link_to user.email, user%> </td>
            <td>
                <% user.roles.pluck(:name).each do |role|%>
                <span class="badge rounded-pill bg-secondary"><%=role%></span>
                <% end%>
            </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%= paginate @users %>
</div>
