<div class="container">

    <div class="user-test">
    <h1>Users</h1>
    </div>
    <%= search_form_for @q do |f| %>
    <div class="row g-3 align-items-center">
    <div class="col-auto">
        <%= f.search_field :email_or_id_cont, placeholder: "Id or email..", class: "form-control" %>
    </div>
    <div class="col-auto">
        <%= f.search_field :roles_name_cont, placeholder: "Role..", class: "form-control" %>
    </div>
    <div class="col-auto">
       <%= f.submit class: "btn btn-primary"%>
    </div>
    </div>
    <% end %>
    
        
        
        
  



    <table class="table  table-records">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col"><%= sort_link(@q, :email) %></th>
            <th scope="col">Roles</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user|%>
            <tr>
            <th scope="row"><%= link_to user.id, user %></th>
            <td><%= link_to user.email, user%> </td>
            <td>
                <% user.roles.pluck(:name).each do |role|%>
                <span class="badge rounded-pill bg-secondary"><%=role%></span>
                <% end%>
            </td>

            </tr>
        <% end %>
        </tbody>
    </table>
    <div class="pagination-wrapper">
    <%= paginate @users %>
    </div>
</div>
