<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navigation"%>
    <div class="container">
    <div class="breadcrumb-container">
      <%= breadcrumbs.render(format: :inline, separator: ">") %>
    </div>
    </div>
    

    <% if alert %>
      <div class="notification-alert">
      <div class="alert alert-danger alert-dismissible fade show"  role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      </div>
    <%end%>

    <% if notice %>
    <div class="notification-alert">
      <div class="alert alert-success alert-dismissible fade show"  role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      </div>
    <%end%>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
